@import url('https://fonts.googleapis.com/css?family=Muli&display=swap');
@import url('https://fonts.googleapis.com/css?family=Playfair+Display&display=swap');
@import url('https://fonts.googleapis.com/css?family=Hepta+Slab&display=swap');
@import url('https://fonts.googleapis.com/css?family=Domine&display=swap');

html,body{
    margin:0;
    padding: 0;
    box-sizing: border-box;
    background-color: #e6e6e6;
}

::-webkit-scrollbar{
    width:5px;
    background-color:#000;
}

::-webkit-scrollbar-thumb{
    border-radius: 2px;
    background-color: #f58634;
}

li{
    list-style: none;
}

.navbar{
    z-index: 9999;
    width: 100%;
    height: 18vh;
    background: #fff;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    flex-wrap: nowrap;
}

.navbar .og{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;
}
.navbar .og .og-logo img{
    width: 80px;
}

.navbar .og .og-name h1{
    font-size: 1.2rem;
    color: #000;
    font-family: 'Muli', sans-serif;
    font-weight: 600;
}

.navbar .menu .menu-list ul{
    display: flex;
    flex-direction: row;
    justify-content:space-between;
    align-items: center;
}

.navbar .menu .menu-list ul li{
    margin: 0 1.5rem;
    margin-top: 0.5rem;
}

.navbar .menu .menu-list ul li a{
    font-size: 1.3rem;
    font-family: 'Muli', sans-serif;
    text-decoration: none;
    color: #f58634;
}
.navbar .menu .menu-list ul li .active{
    background-color: #f58634;
    color: #fff;
    font-size: 1.2rem;
    padding: 0.4rem 0.5rem;
    border-radius: 0.25rem;
}
.navbar .menu .menu-list ul li .hamburger{
    height: 1.7rem;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    cursor: pointer;
}
.navbar .menu .menu-list ul li .hamburger .line-1,.navbar .menu .menu-list ul li .hamburger .line-2{
    width: 1.8rem;
    height: 0.25rem;
    background-color: #f58634;
}
.navbar .menu .menu-list ul li .hamburger .line-1{
    animation-name:line-1-back;
    animation-duration: 2s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}
@keyframes line-1-back{
    50%{
        transform:rotate(360deg);
    }
    100%{
        transform:translateY(0px);
    }
}
.navbar .menu .menu-list ul li .hamburger .line-2{
    animation-name:line-2-back;
    animation-duration: 2s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}
@keyframes line-2-back{
    50%{
        transform:rotate(360deg);
    }
    100%{
        transform:translateY(2px);
    }
}
.navbar .menu .menu-list ul li .hamburger:hover .line-1{
    animation-name:line-1;
    animation-duration: 1s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}
@keyframes line-1{
    20%{
        transform:translateY(5px);
    }
    100%{
        transform:rotate(180deg)translateY(-10px);
    }
}
.navbar .menu .menu-list ul li .hamburger:hover .line-2{
    animation-name:line-2;
    animation-duration: 1s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    z-index: 2;
}
@keyframes line-2{
    20%{
        transform:translateY(-10px);
    }
    100%{
        transform:rotate(270deg)translate(2px,0px);
    }
}
.full-menu{
    z-index: 9999;
    position: absolute;
    right:0;
    width: 30%;
    height: 82vh;
    background-color: #fff;
}
.full-menu ul li a{
    font-size: 2.5rem;
    font-family: 'Muli', sans-serif;
    color: #f58634;
    text-decoration: none;
}
@media screen and (max-width:680px)
{
    .navbar .og .og-name h1{
        font-size: 0.8rem;
    }
    .primary-menu{
        display: none;
    }
    .full-menu{
        width: 70%;
    }
}


/* SECTION-1*/
.section1{
    width: 100%;
    overflow: hidden;
}
.section1 .slider-item img{
    width: 100%;
    height: 100vh;
    object-fit: fill;
}

@media screen and (max-width:680px)
{
    .section1 .slider-item img{
        width: 100%;
        height: 60vh;
        object-fit: fill;
    }
}


/**SECTION-2**/

.section2{
    margin:100px auto;
    width: 80%;
    height: 60vh;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.section2 .left{
    height: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: flex-start;
}

.section2 .left h1{
    font-size: 2.5rem;
    font-family: 'Open Sans', sans-serif;
    color: #c9c9c9;
}
.section2 .left h2{
    font-size: 2.5rem;
    background:linear-gradient(to right,#f58634,#3bbc80);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.section2 .left p{
    font-size: 1.2rem;
    font-family: 'Open Sans', sans-serif;
}
.section2 .left a{
    color: #1a9c58;
    font-size: 1.1rem;
    font-family: 'Open Sans', sans-serif;
}
.section2 .right{
    display: flex;
    justify-content: center;
    align-items: center;
}

.section2 .right img{
    width:400px;
}

@media screen and (max-width:1024px)
{
    
.section2{
    margin:50px auto;
    width: 90%;
    height: 40vh;
}

.section2 .left h1{
    font-size: 2rem;
}
.section-2 .left p{
    font-size: 0.95rem;
}
.section2 .right img{
    width:300px;
}

}
@media screen and (max-width:680px)
{
    .section2{
        margin:50px auto;
        width: 90%;
        height: 100%;
        flex-direction: column;
    }
    
    .section2 .left h1{
        font-size: 1.8rem;
    }
    .section2 .left h2{
        font-size: 1.8rem;
    }
    .section2 .left p{
        font-size: 0.9rem;
    }
    .section2 .right img{
        width:200px;
    }
}

/**SECTION3**/

.section3{
    margin-top: 200px;
    width: 100%;
    height: 50vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #83d8af;
}
.section3 .main{
    width: 90%;
    height: 90%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}
.section3 .main .left{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: flex-start;
}
.section3 .main .left h1{
    font-size: 2.5rem;
    font-family: 'Open Sans', sans-serif;
}
.section3 .main .left p{
    font-size: 1rem;
    font-family: 'Open Sans', sans-serif;
}
.section3 .main .left .stats{
    display: flex;
    width: 100%;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}
.section3 .main .left .stats .sub{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.section3 .main .left .stats .sub h1{
    font-size: 3rem;
    text-align: center;
    font-family: 'Open Sans', sans-serif;
}
.section3 .main .left .stats .sub h2{
    font-size: 2rem;
    text-align: center;
    font-family: 'Open Sans', sans-serif;
}
.section3 .main .right{
    display: flex;
    justify-content: center;
    align-items: center;
}

.section3 .main .right img{
    height: 70vh;
    transform: translateY(-20px);
}

@media screen and (max-width:1200px)
{
.section3{
    margin-top: 100px;
    width: 100%;
    height: 35vh;
}
.section3 .main{
    width: 95%;
    height: 90%;
}
.section3 .main .left h1{
    font-size: 2rem;
}
.section3 .main .left p{
    font-size: 0.8rem;
}
.section3 .main .left .stats .sub h1{
    font-size: 1.5rem;
}
.section3 .main .left .stats .sub h2{
    font-size: 1.2rem;
}

.section3 .main .right img{
    width: 380px;
}
}

@media screen and (max-width:680px)
{
    .section3{
        margin-top:250px; 
        height: 100%;
    }
    .section3 .main{
        width: 90%;
        flex-direction: column-reverse;
        justify-content: flex-end;
        transform: translateY(-150px);
    }
    .section3 .main .left h1{
        font-size: 2rem;
    }
    .section3 .main .left p{
        font-size: 0.8rem;
    }
    .section3 .main .left .stats .sub h1{
        font-size: 1.5rem;
    }
    .section3 .main .left .stats .sub h2{
        font-size: 1.2rem;
    }
    
    .section3 .main .right img{
        width: 300px;
    }
}


/**SECTION4**/
.section4{
    margin-top:100px;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
}
.section4 .main{
    width: 90%;
}
.section4 .main .bottom .slider-item img{
    width:100%;
    height: 60vh;
    object-fit: cover;
}

/*EVENTS*/
.events{
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}
.events h1{
    font-size: 3rem;
    width: 100%;
    text-align: center;
    padding: 1rem 0;
    background-color: #fff;
    font-family: 'Open Sans', sans-serif;
}
.events .event-list{
    width: 90%;
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.event{
    background-color:#fff;
    width: 25vw;
    height: 65vh;
    overflow: hidden;
    margin:0 2rem 2rem 2rem;
    border-radius: 4px;
}
.event .event-img img{
    width: 100%;
    height: 30vh;
    object-fit: cover;
    margin-bottom: 5px;
}
.event .event-details h1{
    font-size:1.8rem;
    height: 50px;
    overflow: hidden;
    text-align: center;
    margin:1rem 0;
    color: #604338;
    font-family: 'Domine', serif;
}

.event .event-details p{
    font-size:1rem;
    height: 60px;
    overflow: hidden;
    text-align: center;
    margin:0.5rem;
    color: #98b4c0;
    font-family: 'Open Sans', sans-serif;
}

.event .event-details h2{
    font-size:1.2rem;
    margin:1rem 0.5rem;
    color: #000;
    text-align: center;
    font-family: 'Hepta Slab', serif;
}
.event .event-details h3{
    font-size:1.2rem;
    width: 100px;
    height: 50px;
    margin: 30px auto;
    text-align: center;
    line-height: 50px;
    color: #000;
    border: 2px solid #000;
    border-radius:3px;
    font-family: 'Open Sans', sans-serif;
}